:root{
    --biru-muda: #7BCFF1;
    --biru-tua: #2A7BBE;
    --silver-terang: #D1D5DB;
    --silver-gelap: #9CA3AF;
    --putih: #fff;

    --color-font: #45505b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.pink{
    background-color: pink;
}

a{
    text-decoration: none;
}


h1,h2,h3 {
    margin: 0;
    padding: .5rem 0;
}

p {
    margin: 0;
    line-height: 1.6;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-links li a{
    color: var(--color-font);
    font-weight: bold;
}

.nav-links li a:hover{
    text-decoration: underline;
}

.hero {
    background: linear-gradient(to bottom, #7BCFF1, #2A7BBE);
    color: white;
    text-align: center;
    padding: 4em 0;
}